<html>
<head>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="container" style="margin: 5px;padding: 5px; ">
<div style=""><h4 style="font-weight: bold;">ModelTracker</h4></div>
<form action="." method="post">
{% csrf_token %}
<div class="row">
    <div class="col-md-2"><label>Model:</label></div>
    <div class="col-md-4"><select id="table" name="table" class="form-control">
    {% for model in models %}
        <option value="{{ model }}"
                {% if model == selected_model %}
                selected
                {% endif %}
        >{{ model }}</option>
    {% endfor %}
</select>
    </div>
</div>
<div class="row">
    <div class="col-md-2"><label>ID:</label></div>
    <div class="col-md-4">
        <input name="id" id="id" value="{{ id }}" class="form-control"/>
        </div>
    </div>
<div class="row">
    <div class="col-md-6" align="center">
    <button type="submit" class="btn btn-primary">Get History</button></div></div>


</form>
{% if count > 0 %}
{% for change in changes %}
{% if change.changes|length > 0 %}
    {% if change.name|length > 0 %} <span style="font-weight: bold;font-style: italic">({{ change.name }})</span>{% endif %}
    By: {{ change.by }} on: {{ change.event_time }}
        <div id="" style="background-color: #f0f0f0">
        <ul>
        {% for row in change.changes %}
            <li>{{ row|safe }}</li>
            {% endfor %}
    </ul>
</div>
{% endif %}
{% endfor %}

{% else %}
    <div class="alert alert-danger">
        No Changes found for {{ id }}.
    </div>
{% endif %}
</body>
</html>
